@font-face {
    font-family: "Inter-regular";
    src: url("../fonts/Inter/static/Inter-Regular.ttf");

    font-family: "Inter-sm-bold";
    src:url("../fonts/Inter/static/Inter-SemiBold.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-weight: normal;
}
body{
    background: #eee;
}
.heading{
    color: #444;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}
div.contents{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
}
div.contents .main-video{
    background: #fff;
    border-radius: 5px;
    padding: 10px;
}
div.contents .main-video video{
    width: 100%;
    border-radius: 5px;
}
div.contents .main-video .title{
    font-size: 23px;
    color: rgb(10, 10, 10);
    padding-top: 15px;
    padding-bottom: 15px;
}
div.contents .video-list{
    background: #fff;
    border-radius: 5px;
    height: 520px;
    overflow-y: auto;
}
div.contents .video-list::-webkit-scrollbar{
    width: 7px;
}
div.contents .video-list::-webkit-scrollbar-track{
    background: #ccc;
    border-radius: 50px;
}
div.contents .video-list.video-list::-webkit-scrollbar-track-thumb{
    background: rgb(247, 245, 245);
    border-radius: 50px;
}
div.contents .video-list .vid video{
    width: 100px;
    border-radius: 5px;
}
h3{
    font-family: "Inter-sm-bold";
    font-size: 20px;
    color: #1f8aa6;
}
div.contents .video-list .vid{
    display: flex;
    align-items: center;
    gap: 15px;
    background: transparent;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    cursor: pointer;
}
div.contents .video-list .vid:hover{
    background: #eee;
}
div.contents .video-list .vid .active{
    background: #7eabc9;

}
div.contents .video-list .vid .active .title{
    color: #fff;

}
div.contents .video-list .vid .title{
    color: #333;
    font-size: 17px;
}

@media (max-width:991px){
    div.contents{
        grid-template-columns: 1.5fr 1fr !important;
        padding: 10px;
    }
}
@media (max-width:768px){
    div.contents{
        grid-template-columns: 1fr !important;
    }
}