@font-face {
    font-family: "Inter-regular";
    src: url("../fonts/Inter/static/Inter-Regular.ttf");

    font-family: "Inter-sm-bold";
    src:url("../fonts/Inter/static/Inter-SemiBold.ttf");
}
.form .forms{
    height: 50% !important;
    border: 2px dashed green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    
}

div.forms :where(i, p){
    color: green;
}

div.forms i{
    font-size: 50px;
}

div .rw{
    background-color: rgba(209, 207, 205, 0.342);
    margin-bottom: 10px;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div .rw i{
    font-size: 20px;
    color: green;
}
div.progress-area li.rw div.contenus{
    margin-left: 3%;
}
div .details span{
    font-size: 14px;
}
div .contenus{
    font-size: 14px;
    width: 100%;
}

div.progress-area div.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.progress-area .progress-br{
    height: 7px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 4px;
    border-radius: 30px;
}
.progress-br .progres{
    height: 100%;
    width: 0%;
    background: green;
    border-radius: inherit;
}
div.uploaded-area .rw  .contenus{
    display: flex;
    align-items: center;
}
div.uploaded-area .rw div.contenus .details{
    display: flex;
    margin-left: 3%;
    flex-direction: column;
    width: 100%;
}
div.uploaded-area .details .size{
    font-size: 12px;
}
div.uploaded-area .fa-check{
    font-size: 16px;
}